@import url(fontiran.css);

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: IRANSansX, Darknet !important;
    direction: rtl;
}

.background {
    height: 100%;
    background-image: url('../../background.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.center-box {
    width: 40%;
    padding: 20px;
    background-color: rgb(27, 43, 59);
    opacity: 0.9;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 4em;
    color: white;
}

p {
    color: white;
    margin: 0;
    padding: 10px 0;
    font-size: 2em;
}

.logo {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px; /* You can adjust this according to your logo's size */
    height: auto;
}

@media only screen and (max-width: 768px) {
    /* Responsive styles */
    .center-box {
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .logo {
        width: 80px;
    }
}
