@import url(fontiran.css);

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: IRANSansX, Darknet !important;
    direction: rtl;
}

.background {
    height: 100%;
    background-image: url('../../background.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.center-box {
    width: 43%;
    padding: 20px;
    background-color: rgba(250, 167, 52, 0.6);
    /*background-color: rgb(27, 43, 59);*/
    opacity: 0.9;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 3em;
    color: white;
}

p {
    color: white;
    margin: 0;
    padding: 10px 0;
    font-size: 1.5em;
}

.logo-container{
    position: absolute;
    bottom: 30px;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    background: rgba(6, 64, 68, 0.5);
}

.bazidid-logo {
    position: absolute;
    left: 50%;
    width: 100px; /* You can adjust this according to your logo's size */
    height: auto;
}
.hamrah-logo {
    position: absolute;
    left: 57%;
    width: 100px; /* You can adjust this according to your logo's size */
    height: auto;
}

.academy-logo {
    position: absolute;
    left: 42.5%;
    width: 75px; /* You can adjust this according to your logo's size */
    height: auto;
}


@media only screen and (max-width: 768px) {
    /* Responsive styles */
    .center-box {
        width: 90%;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .bazidid-logo {
        width: 80px;
        left: 45%;
    }
    .academy-logo{
        width: 55px;
        left: 20%;
    }
    .hamrah-logo{
        width: 70px;
        left: 70%;
    }
}
